<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/tabs/main-page"></ion-back-button>
    </ion-buttons>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row *ngFor="let message of messages | async">
      <ion-col size="1.5" *ngIf="message.sentBy === 'bot'">
        <ion-avatar>
          <img class="a" src="assets\icon\SportsKG.png">
        </ion-avatar>
      </ion-col>
      <ion-col size="8" *ngIf="message.sentBy === 'bot'">
        <div class="message bot-message" >
          <span>{{ message.content }}</span>
          <p text-right>20-02-2020</p>
        </div>
      </ion-col>

      <ion-col offset="3" size="9" class="message user-message" *ngIf="message.sentBy === 'user'">
        <b>You: </b>
        <span>{{ message.content }}</span>
        <p text-right>20-02-2020</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col size="10">
        <ion-input type="text" [(ngModel)]="formValue" (keyup.enter)="sendMessage()" class="msg-input" placeholder="Type here..."></ion-input>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="sendMessage()">
          <ion-icon name="send" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
