.message {
    border-radius: 10px;
    margin-bottom: 4px;
    white-space: pre-wrap;
}

.user-message {
    background: #4CAF50;
    color: #ffffff;
}

.msg-input {
    width: 100%;
    color: black;
    border-radius: 10px;
    background: #ffffff;
}