.message {
    border-radius: 10px;
    margin-bottom: 4px;
    white-space: pre-wrap;
}

.user-message {
    background: #4CAF50;
    color: #ffffff;
}

.bot-message {
    background: #E9E9E9;
    color: #000000;
}

.msg-input {
    width: 100%;
    color: black;
    border-radius: 10px;
    background: #ffffff;
}

.a {
    width: 40px;
    height: 40px;
}