<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>SportsKG</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="3" offset-sm="3">
        <app-location-picker></app-location-picker>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="isLoading" text-center>
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <ion-card *ngIf="!isLoading">
    <ion-card-title text-center padding>Latest News</ion-card-title>
    <ion-slides [options]="other">
      <ion-slide *ngFor="let news of loadedNews | slice:0:4">
        <img [src]="news.imgUrl" [routerLink]="['/', 'news', news.id]"/>
      </ion-slide>
    </ion-slides>
  </ion-card>
</ion-content>

