<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/authentication-admin/posts/football-field-posting/tabs/edit/edit-post"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Football Field</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onUpdateField()" [disabled]="!form?.valid">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoading" text-center padding>
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <form [formGroup]="form" *ngIf="!isLoading">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input type="text" autocomplete formControlName="name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Address</ion-label>
            <ion-input type="text" formControlName="address"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Contact Number</ion-label>
            <ion-input type="text" formControlName="contactNum"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <!-- <app-location-picker (locationPick)="onLocationPicked($event)"></app-location-picker> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
