<!--<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="3" offset-sm="3">
        <app-location-picker></app-location-picker>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>-->
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="main-page">
      <ion-label>Home</ion-label>
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="discover">
      <ion-label>Discover</ion-label>
      <ion-icon name="search"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>